:root {
 --bg: #0A2E36;
 --text1: white;
  --text2: black;
  --bgSoft: #1A3B4C;
  --textSoft: #e5e5e5;
  --btn: #14CC60;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text1);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width:  85%;
  margin: auto;
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}